-#  This file is app/views/movies/index.html.haml
%h1 All Instructors

%table
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Password
      %th Email Address
  %tbody
    - @instructors.each do |instructor|
      %tr
        %td= instructor.firstname 
        %td= instructor.lastname
        %td= instructor.password
        %td= instructor.email
        %td= link_to "More", instructor_path(instructor)