-#  This file is app/views/courses/index.html.haml
%h1 Courses Index Page

%table#customers
  %thead
    %tr
      %th Code 
      %th Name 
      %th Semester 
      %th Catalog 
      %th Action 
  %tbody
  = render partial: 'course', collection: @courses
  
- if @current_user
  - if session[:type] == "Instructor"
    %p
      %div.links 
        = link_to 'Add new course', new_course_path 
        | 
        = link_to 'Back to homepage', instructor_home_path 
  - elsif session[:type] == "Student"
    %div.links 
      = link_to 'Back to homepage', student_home_path

- if !session[:login]
  %div.links 
    Click 
    = link_to 'here', login_path
    to log in

