!!! 5
%html
  %head
    %title Grade System!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags


  -# me hashtag eshte id e div dhe . eshte klasa
  -#  <div id="notice" class="message"> flash[:notice] </div>
  %body
    
    - if flash[:notice]
      #notice.message= flash[:notice]
    - elsif flash[:warning]
      #warning.message= flash[:warning]

    -#  check if user is logged in or not
    - if @current_user
      %p
      - if session[:login]
        - if session[:type] == "Instructor"
          %div.info
            Logged as Instructor: #{@current_user.firstname} #{@current_user.lastname} 
            Click 
            = link_to 'here', '/logout', :method => :post 
            to log out
        - elsif session[:type] == "Student"
          %div.info
            Logged as Student: #{@current_user.firstname} #{@current_user.lastname}
            Click 
            = link_to 'here', '/logout', :method => :post 
            to log out
    - else
      %p
        %div.info Not Logged In    
    
    #main
      = yield
